.layout{
  &-container{
    display: flex;
  }
  &-navbar-container{
    height: 100vh;
    width: 16vw;
    background-color: #f5f2f2;
  }
  &-content-container{
    width: 84vw;
    background-color: #f8f7f7;
  }
}
